```.env
TOKEN="${newBot.token || "ENTER YOUR TOKEN"}" # DO NOT PUBLISH THIS ANYWHERE UNDER ANY CIRCUMSTANCE
```

```config.json
{
  "prefix": "${JSON.parse(localStorage.getItem("settings") || "{}").defaultPrefix}",
  "slashCommands": true,
  "status": [
    "Online",
    "Playing",
    "Ready to assist!"
  ],
  "footer": "Powered by LocalBotify.app",
  "notifications": false,
  "commands": {
    "initialization": "npm install",
    "startup": ".\\node . "
  },
  "variables": {
    "commands": {
      "ping": {
        "responseMessage": "Pong!"
      }
    },
    "events": {
      "guildCreate": {
        "responseMessage": "Test"
      }
    }
  }
}
```

```package.json
{
  "name": "${newBot.name.toLowerCase().replace(/[^a-z0-9-_]+/g, "-").replace(/^[._-]+/, "").replace(/[-]+/g, "-").slice(0, 214)}",
  "productName": "${newBot.name}",
  "version": "1.0.0",
  "description": "${newBot.description}",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "keywords": [],
  "author": "",
  "license": "ISC"
}
```