```config.json
{
  "prefix": "${JSON.parse(localStorage.getItem("settings") || JSON.stringify(new Object())).defaultPrefix ?? "!"}",
  "slashCommands": true,
  "status": [
    "Online",
    "Custom",
    "Powered by LocalBotify.app"
  ],
  "footer": "Powered by LocalBotify.app",
  "commands": {
    "initialization": "",
    "startup": ".\\node . "
  },
  "variables": {
    "commands": {},
    "events": {}
  }
}
```

```package.json
{
  "name": "${newBot.name.toLowerCase().replace(/[^a-z0-9-_]+/g, "-").replace(/^[._-]+/, "").replace(/[-]+/g, "-").slice(0, 214)}",
  "productName": "${newBot.name}",
  "version": "1.0.0",
  "description": "${newBot.description}",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "keywords": [],
  "author": "",
  "license": "ISC"
}
```

```.gitignore
.env
node
node.bat
node_modules
```