body {
  background-image: url(https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?auto=compress&cs=tinysrgb&w=1280);
  background-size: 100% 100%;
  opacity: 0.95;
}

.app {
  background-color: var(--discord-bg);
}

:root {
  --discord-dark: #2d2e30;
}