body {
  background-image: url(https://i.ibb.co/N6mTyB07/background.jpg);
  background-size: 100% 100%;
  opacity: 0.95;
}

.app {
  background-color: var(--discord-bg);
}

:root {
  --discord-dark: #2d2e30;
}